div#texto{
    text-align: justify;
    padding: 10px;
    font-size: 13pt;
}
.panel-heading{
    font-size: 13pt;
}

header#cabecalho{
    padding: 0px 280px 0px 280px;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}
#rodape{
    text-align: center;
}
.a{
    color: red;
}
.comment-event{
    resize: none;
}